html{
    background-color: #FFE5E5;
    font-family: 'Bebas Neue', sans-serif;
}

.COLOR {
    color: #4E3636;
}
#white{
    color: #4E3636 ;
}

ol{
    color: #4E3636 ;
}

.image{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height: 200px;
    width: 10%;
    margin-left: 45%;
    margin-bottom: 10%;
}

.name{
    display: flex;
    justify-content: center;
}